<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{common/common :: meta_header('RESET PASSWORD',~{::link},~{::script})}"></head>
<body>
	<nav class="navbar bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/login"> <- Return</a>
		</div>
	</nav>
	<div th:replace="~{common/common :: pagetitle}"></div>

	<br><br>

	<form th:action="@{/user/reset_password}" method="post">

        <div th:if="${param.error}" class="error-message">
			存在しないメールアドレスかメールが送信できなかった可能性があります。
		</div>

        <div th:if="${param.success}" style="color: blue;">
			パスワードリセットのメールを送信しました。メールを確認してください。
		</div>

		<div>
			<label for="text" class="form-name">Password Reset Form</label><br>
            <label for="text" class="form-name">登録しているメールアドレスを入力してください。</label><br>
            <label for="text" class="form-name">パスワードリセット用URLをお送りします。</label>
		</div>

		<div>
			<input type="email" name="email" placeholder="Email"/>
		</div>

		<input type="submit" value="SEND" />
	</form>

</body>
</html>
