<html xmlns:th="http://www.thymeleaf.org"></html>
<head th:replace="~{common/common :: meta_header('ERROR',~{::link},~{::script})}">

</head>
<body>

    <div th:replace="~{common/common :: pagetitle}"></div>

  <div class="front-mount">

    <br><br>

    <h3>予期せぬエラーが発生しました。</h3>

    <br><br><br>

    <div th:if="${error_message}">
        <h4 th:text="${error_message}"></h4>
    </div>
    <div th:unless="${error_message}">
      <div th:text="'timestamp: ' + ${timestamp}"></div>
      <div th:text="'status: ' + ${status}"></div>
      <div th:text="'error: ' + ${error}"></div>
    </div>

    <br><br>

    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"> <- Return</a>
      </div>
    </nav>

  </div>


    

</body>
</html>