body {
    background-color: #808080;
}

/* ログインフォーム関係で設置 */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

form textarea.height-medium {
    height: 120px;
}

form textarea.height-large {
    height: 200px;
}

form input[type="submit"] {
    width: auto;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}
form select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
form button {
    width: auto;
    padding: 0.5rem 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

form button:hover {
    background-color: #218838;
}

.front-mount {
    width: 95%;
    margin: 0 auto;
}

/* マネジメントテーブル表示用 */
td {
    white-space: pre; /* 改行を有効化 */
    padding: 0; /* 余白をゼロにする */
    vertical-align: middle;
    height: auto;
}

.error-message {
    color: red;
}

.form-name {
    font-size: 130%;
}

td form {
    margin: 0;
    padding: 0;
    width: 100%;
}
/* ボタンの配置を調整 */
.button-td {
    text-align: center;
    padding: 0;
    width: 1%; /* テーブルセルを内容に合わせて最小幅にする */
    white-space: nowrap;
}

/* テーブル内フォーム：ログイン関係の表示の無効化 */
.custom-form-reset {
    all: unset;
    box-sizing: border-box;
}

/* テーブル内ボタンの表示制御 */
.center-form {
    display: inline-flex;
    justify-content: center; /* 横中央揃え */
    align-items: center;    /* 縦中央揃え */
    margin: 0;              /* 余白をゼロに */
    height: auto;           /* テーブルセル内で高さを合わせる */
}

.center-form button {
    margin: 0;              /* 余計な余白を削除 */
    padding: 0.5rem 1rem; /* より小さいパディング値に調整 */
    line-height: 1.2; /* 行の高さを調整 */
    display: inline-block; /* ブロック要素にして上下のライン余白を排除 */
}

/* テーブル見出し */
thead {
    text-align: center;
}
/* 日付未入力 */
.center-date {
    text-align: center;
}

/* テーブル見出しの表示割合制御 */
.th-four{
    width: 4%;
}
.th-eight{
    width: 8%;
}
.th-ten{
    width: 10%;
}
.th-twenty{
    width: 20%;
}
.th-thirty{
    width: 30%;
}
